ConnectionStrings__MySql=Server=your-host.mysql.rds.aliyuncs.com;Port=3306;Database=henglong;User=root;Password=your-password;SslMode=Preferred;CharSet=utf8mb4;
AliyunOss__EndPoint=oss-cn-shanghai.aliyuncs.com
AliyunOss__AccessKey=your-access-key
AliyunOss__AccessSecret=your-access-secret
AliyunOss__BucketName=henglong
DISABLE_HTTPS=true
