@{
    ViewData["Title"] = "Home Page";
}
<style>
  html,body{
    background-color: rgba(214,214,214,0.2)
  }
  .customer-img{
    width: 100px;
    height: 200px;
  }
  .customer-col{
    padding: 5px;
  }
</style>
<i-Layout id="app">
  <i-Content>
    <Row>
      <i-col span='12'>
        <Upload action="ExportFile" accept='.jpg'>
          <i-button>上传图片</i-button>
        </Upload>
      </i-col>
      <i-col span='12'>
        <i-button @@click='QueryData'>查询</i-button>
      </i-col>
    </Row>
  </i-Content>
    <i-Content>
      <Row>
        <i-col span="8" v-for="item in tableData.data" class="customer-col">
          <Card>
            <p slot="title">
              {{item.name}}
            </p>
            <div slot="extra">
                <a href="javascript:void(0);" v-on:click="saveLevel(item)"><Icon size="20" type="md-send" /></a>
                <a href="javascript:void(0);" v-on:click="delData(item)"><Icon size="20" type="ios-remove-circle" /></a>
                <i-switch v-model="item.status" @@on-change="changeStatus($event,item)"></i-switch>
            </div>
            <img class="customer-img" :src="'https://henglong.oss-cn-shanghai.aliyuncs.com/'+item.guid" />
            <p>排序等级</p>
            <i-input v-model="item.level" placeholder="输入等级" style="width:100px"></i-input>
            <p>{{item.guid}}</p>
            <p>{{item.createTime}}</p>
          </Card>
        </i-col>
      </Row>
      <Row>
          <i-col offset="4" span="12"> 
            <Page 
              :total="pageData.total" 
              :current.sync="pageData.current" 
              :page-size="pageData.pageSize" @@on-change="changePage" show-total></Page>
          </i-col>
      </Row>
    </i-Content>
</i-Layout>

@section Scripts  {
  <script src="~/js/product.js"></script>
}