@{
    ViewData["Title"] = "Home Page";
}
<i-Layout id="app">
 <h1>维护中。。。</h1>
</i-Layout>

@section Scripts  {
  <script>
    $(function(){

      var vueInstance=function(){
        var init=function(){

          var vue=new Vue({
            el:"#app",
            data:function(){
              let _self=this;
              return {
                
                  }
              };
            },
            methods:{
               
            },
            mounted:function(){
              let _self=this;
            }
          })
        }
        return {
          Init:init
        }
      }();

      vueInstance.Init();
    })
  </script>
}